In [1]:
empty_list = []

In [2]:
empty_list

[]

In [13]:
list_str = ['Honda Civic', 'Ford F-150', 'Toyota Camry', 'GMC Envoy']
list_str

['Honda Civic', 'Ford F-150', 'Toyota Camry', 'GMC Envoy']

In [5]:
type(list_str)

list

In [6]:
list_int = [5, 7, 8, 9, 20, 40]
list_int

[5, 7, 8, 9, 20, 40]

In [8]:
list_float = [5.5, 7.8, 8.5, 9.2, 20.3, 40.6]
list_float

[5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

In [10]:
list_bool = [True, False]
list_bool

[True, False]

**Lists can containe duplicates**

In [12]:
mixed_list = ['Nissa Sentra', 1, 2.5, True]
mixed_list

['Nissa Sentra', 1, 2.5, True]

In [14]:
cars_list = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [15]:
print(cars_list[0]) # this is calling the index of the list. Indices always start with 0, 1, 2, 3 etc.

Toyota Camry

In [16]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [17]:
print(cars_list[4])

IndexError: list index out of range

In [18]:
print(cars_list[-1]) #list indices end at length -1

Toyota Corolla

In [19]:
len(cars_list)

4

In [20]:
print("car at index 2: ", cars_list[2])

car at index 2:  Honda Civic

In [21]:
print(cars_list[3])

Toyota Corolla

In [23]:
#vector
print(cars_list[1, 2])

TypeError: list indices must be integers or slices, not tuple

In [24]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [25]:
print(cars_list[-1])

Toyota Corolla

In [27]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Honda Civic
Honda Accord
Toyota Camry

In [28]:
print(cars_list[-5])

IndexError: list index out of range

In [29]:
len(cars_list)

4

In [30]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [32]:
cars_list[3] = 'Nissan Sentra'

print("New car at index 3 is: ", cars_list[3])

cars_list

New car at index 3 is:  Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']

In [33]:
cars_list[2] = 'Hyundai Elantra'

print("New car at index 2 is: ", cars_list[2])

cars_list

New car at index 2 is:  Hyundai Elantra

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Sentra']