In [1]:
# an ordered collection of elements ()
my_tuple = ()

my_tuple

()

In [2]:
type(my_tuple)

tuple

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [6]:
int_tuple = (1, 2, 3)

print(int_tuple)

(1, 2, 3)

In [7]:
str_tuple = ("Hello", "Python")

print(str_tuple)

('Hello', 'Python')

In [8]:
print(int_tuple, str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [9]:
combined_tuple = int_tuple + str_tuple

print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [10]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [11]:
mixed_tuple = (1, "Hello", 3.4)

print(mixed_tuple)

(1, 'Hello', 3.4)

In [12]:
my_tuple = 1, "Hello", 3.4 # Leave out round brackets?

print(my_tuple) # Python still recognizes it as a tuple.

(1, 'Hello', 3.4)

In [13]:
# Fields are elements in a tuple

a, b, c = my_tuple

print(a)
print(b)
print(c)

1
Hello
3.4

In [14]:
nested_tuple = (1, 2, 3, (4, 5, 6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [15]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [16]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [17]:
print(my_tuple[0])

p

In [18]:
print(my_tuple[5])

t

In [19]:
print(my_tuple[6])

IndexError: tuple index out of range

In [20]:
print (mixed_tuple[1])

[8, 4, 6]

In [21]:
print (mixed_tuple[1][0]) # first [] access the field in outer tuple, second [] access the element in the nested list.

8

In [22]:
nested_tuple = mixed_tuple[2]

print(nested_tuple)

(1, 2, 3)

In [23]:
print (mixed_tuple[2][2])

3

In [24]:
my_tuple = ('E', 'l', 'e', 'p', 'h', 'a', 'n', 't')

print(my_tuple[1:]) # start from index position 1 and onward.

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [25]:
print(my_tuple[2:4])

('e', 'p')

In [26]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [27]:
print(my_tuple[-1])

t

In [28]:
my_tuple = ('H', 'e', 'l', 'l', 'o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [29]:
print(my_tuple.index('H'))

0

In [30]:
print('e' in my_tuple)

True

In [31]:
print('t' in my_tuple)

False

In [32]:
print('e' not in my_tuple)

False

In [33]:
int_tuple = (1, 4, 9, 9)

sum(int_tuple)

23

In [34]:
int_tuple = (1, 4, 9, 9)

list(int_tuple)

[1, 4, 9, 9]

In [35]:
int_tuple = (1, 4, 9, 9)

set(int_tuple)

{1, 4, 9}