In [7]:
complete_cars_list = ['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [8]:
# += appends to end of list
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [9]:
# sorting method, default is ascending order, alphabetical for strings
complete_cars_list.sort()

complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Hyundai Elantra',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla']

In [10]:
# reverse method
complete_cars_list.reverse()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [11]:
# pop method removes last element in the list
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [12]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [13]:
# Duplicate value 
complete_cars_list.append('Nissan Altima')

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [14]:
complete_cars_list.count('honda Civic')

0

In [15]:
complete_cars_list.count('Honda Civic')

1

In [16]:
complete_cars_list.count('Nissan Altima')

2

In [17]:
# lists and sets are different. Sets remove duplicate entries and use curly braces.
set(complete_cars_list)

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Hyundai Elantra',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla'}

In [19]:
cars_list = ['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [20]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optima', 'Kia Soul']

In [21]:
cars_list.clear()

In [22]:
cars_list

[]

In [23]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [24]:
new_cars_list = complete_cars_list.copy() # Deep copy, new copy in memory. Copy is entirely separate.

In [25]:
del complete_cars_list

In [26]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [27]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [28]:
# Shallow copy, both lists can change.
another_cars_list = new_cars_list

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [29]:
another_cars_list.remove('Hennessey Venom GT')

In [30]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [31]:
new_cars_list # Shallow copy is also missing Hennessey Venom GT

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [32]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [33]:
another_cars_list # Shallow copy now missing Nissan Sentra

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Hyundai Elantra',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

Important to know what kind of copy is needed.